<% {{name}}.forEach(function ({{singular.toLowerCase()}}) { %>
  <tr>
    <td><%-{{singular.toLowerCase()}}.name%></td>
    <td>
      <a href="<%-{{singular.toLowerCase()}}.id%>" data-id="<%-{{singular.toLowerCase()}}.id%>" data-action="{{name}}#remove">delete</a>
    </td>
  </tr>
  <% }); %>