const {
    
  } = require("../services"),
  {
    apiErrors
  } = require("../../../../responses");

module.exports = (api, db) => {
  api.post("/api/{{name}}", (req, res) => {
    db.{{name}}.create(req.body)
      .then(() => {
        res.send({ status: "OK" });
      })
      .catch(apiErrors(req, res, 409));
  });

  api.delete("/api/{{name}}/:id", (req, res) => {
    db.{{name}}.destroy({
      where: {
        id: req.params.id
      }
    })
      .then(() => {
        res.send({ status: "OK" });
      })
      .catch(apiErrors(req, res, 409));
  });
};