const {authorizeWeb} = require("../../../../session-store");
module.exports = (app, db) => {
  const payload = {
      jsApp: "../{{name}}.js"
    };

  app.get("/pages/{{name}}", authorizeWeb([]), (req, res) => {
    db.{{name}}.findAll()
      .then(({{name}}) => {
        payload.{{name}} = {{name}};
        res.render("../modules/{{name}}/server/views/list.ejs", payload);
      })
      .catch((error) => {
        res.render("error", { error });
      });
  });

  app.get("/content/{{name}}", authorizeWeb([]), (req, res) => {
    db.{{name}}.findAll()
      .then(({{name}}) => {
        payload.{{name}} = {{name}};
        res.render("../modules/{{name}}/server/views/components/list-items", payload);
      })
      .catch((error) => {
        res.render("error", { error });
      });
  });
};