<%- include('layout/header'); -%>
<div data-controller="projects">
  <%- include('components/title', {title: "Dashboard", sub: "An overview of your organization"}) %>
  <section>

  </section>
</div>
<%- include('layout/footer'); -%>