<%- include('layout/header'); -%>
<div data-controller="projects">
  <%- include('components/title', {title: "Integrations", sub: "Enable integrations with other tools."}) %>

  <section>

  </section>
</div>
<%- include('layout/footer'); -%>