<%- include('layout/header'); -%>
<div data-controller="projects">
  <%- include('components/title', {title: "Reports", sub: "In depth performance analysis"}) %>
  <section>

  </section>
</div>
<%- include('layout/footer'); -%>