<%- include('layout/header'); -%>
<div data-controller="projects">
  <%- include('components/title', {title: "Users", sub: "All users for your organizarion"}) %>
  <section>

  </section>
</div>
<%- include('layout/footer'); -%>