<h1 class="h3 mb-3 font-weight-normal">Please sign in or <a href="/#/startSignUp" data-action="session#startSignUp">sign up</a></h1>
<form class="form-signin" data-action="session#signIn">
<label for="inputEmail" class="sr-only">Email address</label>
<input data-target="session.signInEmail" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus autocomplete="email">
<label for="inputPassword" class="sr-only">Password</label>
<input data-target="session.signInPassword" type="password" id="inputPassword" class="form-control" placeholder="Password" required autocomplete="current-password">
<p class="server-error" data-target="session.serverError"></p>
<!-- <div class="checkbox mb-3">
  <label>
    <input type="checkbox" value="remember-me"> Remember me
  </label>
</div> -->
<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
<p class="mt-5 mb-3 text-muted"><a href="/#/startSignUp" data-action="session#startSignUp">Sign up</a></p>
</form>