<h1 class="h3 mb-3 font-weight-normal">Please sign up for a new account</h1>
<p class="mt-5 mb-3 text-muted">If you already have an account <a href="/#/startSignIn" data-action="session#startSignIn">sign in here</a></p>
<form class="form-signin" data-action="session#signUp">
  <label for="inputEmail" class="sr-only">Email address</label>
  <input data-target="session.email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus autocomplete="email">
  <label for="inputPassword" class="sr-only">Password</label>
  <input data-target="session.password" type="password" id="inputPassword" class="form-control" placeholder="Password" minlength="7" required>
  <label for="inputConfirmPassword" class="sr-only">Confirm password</label>
  <input data-target="session.confirmPassword"type="password" id="inputConfirmPassword" class="form-control" minlength="7" placeholder="Confirm password" required>
  <label for="organization" class="sr-only">Organization</label>
  <input data-target="session.organization"type="text" id="organization" class="form-control" placeholder="Organization name" required>
  <p class="server-error" data-target="session.serverError"></p>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</form>