<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="session.css">
  <script src="<%-jsApp%>" async></script>
  <title>Inline.io</title>
</head>

<body>
  <div class="text-center w100" data-controller="session">
    <form class="form-signin">
      <img class="mb-4" src="/images/logo.png" alt="Inline.io" width="200px">
      <div data-target="session.container">
        <%-include("./components/signin.ejs")%>
      </div>
      <p class="mt-5 mb-3 text-muted">&copy; 2018</p>
    </form>
  </div>
</body>
</html>